---
layout: base
# Liste des feuilles de style à inclure.
# Ces styles sont ajoutés à la page pour définir son apparence.
stylesheets:
  - /assets/styles/main.css

# Liste des scripts JavaScript à inclure.
# Ces scripts ajoutent des fonctionnalités interactives à la page.
scripts:
  - /assets/scripts/index.js
---

{% assign pageTitle = title %}
{% assign establishmentOfDeclarationData = "establishment_of_declaration." | pageTitle %}
{% assign inaccessibleContentsData = "inaccessible_contents." | pageTitle %}

{% render "goTopBtn.html" %}

<main id="main-content">
  <section class="hero">
    <div class="hero-header">
      <h1 class="hero-title title-h1">
        {{ title }} - Déclaration d'accessibilité 
        {% if conformity == "partially" %} partiellement {% endif %} 
        {% if conformity == "not" %} non {% endif %} 
        conforme
      </h1>
      <a class="hero-return" href="{{ urlSite }}">
        Retourner à l'accueil
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </div>
    <div class="hero-wrapper">
      <p class="hero-paragraph paragraph">
        {% if collectivity == "CDA" %} La Communauté d'Agglomération de La Rochelle, {% endif %} 
        {% if collectivity == "Ville" %} La Ville de La Rochelle, {% endif %} 
        s'engage à rendre ses sites internet, intranet, extranet accessibles 
        conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
      </p>
    </div>
    <div class="hero-wrapper">
      <h2 class="title-h2">Objectif de cette déclaration</h2>
      <p class="hero-paragraph paragraph">
        Elle met en œuvre la stratégie et les actions décrites dans un schéma 
        pluriannuel et des plans d'actions en cours de rédaction.
        Cette déclaration d’accessibilité s’applique au portail 
        de démarches en ligne "{{ title }}".
      </p>
    </div>
    {% render "summary.html" %}
  </section>
  <section class="conformity" id="conformity">
    {% 
      render "headTitle.html" 
      src: "icon-etat-de-conformite", 
      title: "État de conformité" 
    %}
    <p class="paragraph-not-center">
      {% if audit %} 
        L'audit de conformité réalisé par la société 
        {{ auditCompany }} le {{ auditDate }} révèle que:
        <ul>
          <li>{{ auditPercent }}% des critères RGAA sont respectés.</li>
          <li>
            Le taux moyen de conformité du service 
            en ligne s'élève à {{ averageAuditCompanyRate }}%
          </li>
          <li>
            <a href="https://demarches.agglo-larochelle.fr/media/uploads/2024/11/18/grille-devaluation-rgaa-412-audit-portail-citoyen.xlsx">
              Télécharger la grille d'audit
            </a> (format xlsx, 884ko)
          </li>
        </ul>
        {% if auditInternal %}
          Cet audit a été suivi de corrections et d'un contrôle interne 
          qui permettent d'établir au {{ auditInternalDate }} que:
          <ul>
            <li>{{ auditInternalPercent }}% des critères RGAA sont respectés.</li>
            <li>
              Le taux moyen de conformité du service en 
              ligne s'élève à {{ averageAuditInternalRate }}%
            </li>
          </ul>
          Des corrections continuent d'être effectuées en continu de manière 
          à améliorer la conformité du site.
        {% endif %}
      {% endif %}
      {% if not audit %}
        À ce jour, n'ayant pas publié d’audit de conformité, le site internet 
        {{ title }} est considéré par défaut comme non conforme.
        Les audits externes et le schéma pluriannuel d’accessibilité 
        numérique sont en cours d’élaboration.
      {% endif %}
    </p>
  </section>
  {% if conformity == "partially" or conformity == "conforms" %}
    <section class="inaccessible-contents" id="inaccessible-contents">
      {% 
        render "headTitle.html" 
        src: "icon-contenus-inaccessibles", 
        title: "Contenus inaccessibles" 
      %}
      <p>Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes.</p>
      {% 
        render "accordion.html" 
        data: inaccessibleContentsData 
      %}
    </section>
    <section class="establishment-of-declaration" id="establishment-of-declaration">
      {% 
        render "headTitle.html" 
        src: "icon-etablissement-declaration", 
        title: "Établissement de cette déclaration d'accessibilité" 
      %}
      <p>
        Cette déclaration a été établie le {{ auditDate }} par la société {{ auditCompany }}.
      </p>
      {% if auditInternal %}
      <p>
        Elle a été mise à jour le {{ auditInternalDate }} par la {{ collectivity }} de la Rochelle.
      </p>
      {% endif %}
      {% 
        render "accordion.html" 
        data: establishmentOfDeclarationData 
      %}
    </section>
  {% endif %}
  <section class="feedback-and-contact" id="feedback-and-contact">
    {% 
      render "headTitle.html" 
      src: "icon-retour-infos-et-contact", 
      title: "Retour d'information et contact" 
    %}
    <p>
      Si vous n’arrivez pas à accéder à un contenu ou à un service, 
      vous pouvez contacter le responsable du site internet pour être 
      orienté vers une alternative accessible ou obtenir le contenu 
      sous une autre forme.
    </p>
    <a href="https://www.agglo-larochelle.fr/vie-pratique/numerique/contacter-la-direction-de-la-transformation-numerique-du-territoire">
      Envoyer un message
    </a>
  </section>
  <section class="remedies" id="remedies">
    {%
      render "headTitle.html" 
      src: "icon-recours", 
      title: "Voies de recours"  
    %}
    <p>Cette procédure est à utiliser dans le cas suivant.</p>
    <p>
      <strong>
        Vous avez signalé au responsable du site internet 
        un défaut d’accessibilité qui vous empêche d’accéder 
        à un contenu ou à un des services du portail et vous 
        n’avez pas obtenu de réponse satisfaisante.
      </strong>
    </p>
    <ul>
      <li>
        Écrire un message à la Défenseure des droits (via 
        <a href="https://formulaire.defenseurdesdroits.fr/formulaire_saisine/">
          le formulaire de contact
        </a>
        ).
      </li>
      <li>
        Contacter 
        <a href="https://www.defenseurdesdroits.fr/carte-des-delegues">
          le délégué du Défenseur des droits
        </a> 
        dans votre région.
      </li>
      <li>
        Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) 
        <strong>Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07</strong>
      </li>
      <li>Contacter le Défenseur des droits par téléphone au <strong>09 69 39 00 00</strong></li>
    </ul>
    {% if hasMatomo %}
      <iframe
        title="Acceptation du suivi de navigation sur ce site"
        src="https://piwik.agglo-larochelle.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=313131&fontSize=14px&fontFamily=Arial"
        frameborder="0"
        style="height: 87px;"
      ></iframe>
    {% endif %}
  </section>
</main>
{% render "footer.html" lastUpdate: lastUpdate %}