</body>
<footer>
    <div class="footer-contents">
        <div class="f-content address">
            <img src="images/home-footer.svg" alt="">
            <div class="f-text">
                <h3>ADRESSE</h3>
                <p>99 rue du château, 99999 Ville</p>
            </div>
        </div>
        <div class="f-content phone">
            <img src="images/phone-footer.svg" alt="">
            <div class="f-text">
                <h3>TÉLÉPHONE</h3>
                <p>06 07 08 09 10</p>
            </div>
        </div>
        <div class="f-content mail">
            <img src="images/mail-footer.svg" alt="">
            <div class="f-text">
                <h3>E-MAIL</h3>
                <p>contact-universalvinyl@outlook.com</p>
            </div>
        </div>
    </div>
</footer>
<script src="scripts/canvas.js" ></script>
<script src="scripts/navbar.js"></script>