<style>
    .popup {
        width: 80%;
        min-height: 300px;
        padding: 2rem;
        visibility: hidden;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        font-size: 30px;
    }
    .popup p {
        margin: 0;
        text-align: center;
        color: #000000;
        white-space: normal;
    }
    .popup img {
        width: 100px;
        margin-bottom: 20px;
    }
</style>
<div class="popup" id="blockPopup">
    <p id="iconPopup">
        <p style="height:0px; visibility:hidden; margin: 0;"  >
            <a target="_blank" href="https://icons8.com/icon/110240/error">
                Erreur
            </a> 
            icône par 
            <a target="_blank" href="https://icons8.com">
                Icons8
            </a>
        </p>
    </p>
    <p id="popup"></p>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () { 
        let message = <%- JSON.stringify(message) %>;
        if (message) {
            const blockPopup = document.getElementById("blockPopup")
            const iconPopup = document.getElementById("iconPopup")
            const popup = document.getElementById("popup")

            if(message.type === "success") {
                iconPopup.innerHTML = `<img src="/images/success.png" alt="success icon">`
            } else {
                iconPopup.innerHTML = `<img src="/images/error.png" alt="error icon">`
            }

            popup.textContent = message.text

            blockPopup.style.visibility = "visible"

            blockPopup.addEventListener("click", function () {
                blockPopup.style.visibility = "hidden"
            })
        } else {
            next()
        }
    });
</script>