.annonce {
    border: 1px solid black;
    width: 300px;
    gap: 20px;
    display: grid;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.contentImgs {
    width: 298px;
    height: 200px;
    display: flex;
    position: relative;
    transform: translateX(0%);
}

.contentImg img {
    width: 298px;
    height: 100%;
    object-fit: cover;
}

.arrowImg {
    position: absolute;
    width: 50px;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrowImgRight {
    right: 0;
}

.annonce > h2, p, a, form {
    padding-inline: 20px;
}

.annonce > h2, p {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}