.annonce {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.carousel {
    overflow: hidden;
    width: 70%;
}

.contentImgs {
    display: flex;
    width: 300%;
}

.contentImg {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentImg img {
    width: 100%;
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}

.annonceText {
    display: grid;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: aqua;
}


.prev {
    transform: scale(-0.5) translate(50%, 50%);
    width: fit-content;
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 225px;
    cursor: pointer;
}

.next {
    transform: scale(0.5) translate(0%, -50%);
    transform-origin: right;
    width: fit-content;
    position: absolute;
    z-index: 1;
    right: 40px;
    top: 225px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .prev, .next {
        display: none;
    }
}

/* 
0px - 480px
481px - 768px
769px - 1279px
1280px+
*/