<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<h1>Ajouter une annonce</h1>
<form action="/add-annonce" method="POST" enctype="multipart/form-data">
    <label for="title">Titre</label>
    <input type="text" id="title" name="title" required>
    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea>
    <label for="price">Prix</label>
    <input type="number" id="price" name="price" required>
    <label for="musicStyle">Style de musique</label>
    <select id="musicStyle" name="musicStyle" required>
        <option value="rock">Rock</option>
        <option value="pop">Pop</option>
        <option value="rap">Rap</option>
        <option value="jazz">Jazz</option>
        <option value="classique">Classique</option>
        <option value="electro">Electro</option>
        <option value="reggae">Reggae</option>
        <option value="metal">Metal</option>
        <option value="blues">Blues</option>
        <option value="variété">Variété</option>
    </select>
    <label for="images">Images (max 3)</label>
    <input type="file" id="images" name="images" multiple required accept="image/*">
    <button type="submit">Ajouter</button>
</form>
<%- include('../../partials/footer') %>