<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<h1>Tableau de bord administrateur</h1>
<p>Dans ce tableau de bord y sera afficher toutes les annonces et commentaires
    des utilisateurs. Je pourrais les valider ou les supprimer.
</p>
<%- include('../../partials/footer') %>