<footer class="footer">
  <div class="footer-lastUpdate">
    <svg class="icon-footer">
      <use
        xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-derniere-maj"
      ></use>
    </svg>
    <p>
        <span>Dernière mise à jour</span>
        {{ lastUpdate | formatDateFr }}
    </p>
  </div>
  <a class="footer-goToTop" href="#main-content">
    Retour vers le haut
      <svg class="icon-fleche" aria-hidden="true">
        <use
          xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-haut"
        ></use>
      </svg>
    </a>
</footer>
