<div class="summary">
  <div class="summary-wrapper">
    <!-- Image centrale pour la section résumé -->
    {% image "src/assets/images/svg/img-centrale.svg", "" %}
  </div>
  <!-- Liste des liens de résumé -->
  <ul class="summary-links">
    <li>
      <!-- Lien vers la section "Qu'est-ce qu'une donnée personnelle ?" -->
      <a href="#definition" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-une-donnee-personnelle"
          ></use>
        </svg>
        <div>
          <p>Qu’est-ce qu’une donnée personnelle ?</p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>> 1 minute</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#data-collection" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-donnees-collectees-et-protection"
          ></use>
        </svg>
        <div>
          <p>
            Quelles sont les données collectées et comment les protégeons-nous ?
          </p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>2 minutes</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#user-rights" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-droits-donnees"
          ></use>
        </svg>
        <div>
          <p>Quels sont vos droits sur vos données ?</p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>1 minute 20</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
 
  <ul class="summary-links">
    <li>
      <a href="#rights-exercise-process" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-comment-exercer-droits"
          ></use>
        </svg>
        <div>
          <p>Comment exercer vos droits sur vos données ?</p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>1 minute</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use></svg></a>
    </li>
    <li>
      <a href="#data-processing-overview" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-registre-traitements-donnees"
          ></use>
        </svg>
        <div>
          <p>
            Le registre pour une vue d’ensemble des traitements de données
            personnelles
          </p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>> 1 minute</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#cookie-usage" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-comment-utilisons-cookies"
          ></use>
        </svg>
        <div>
          <p>Comment utilisons-nous les cookies ?</p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>1 minute 30</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
  <ul class="summary-links">
    <li>
      <a href="#glossary" class="summary-link">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-with-bg.svg#icon-glossaire"
          ></use>
        </svg>
        <div>
          <p>Glossaire</p>
          <p>
            <svg class="icon-other" aria-hidden="true">
              <use
                xlink:href="/assets/images/svg/sprites/sprite-other-icon.svg#icon-temps-lecture"
              ></use>
            </svg>
            Temps de lecture <strong>> 1 minute</strong>
          </p>
        </div>
        <svg class="icon-fleche" aria-hidden="true">
          <use
            xlink:href="/assets/images/svg/sprites/sprite-icon-fleche.svg#icon-fleche-droite"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
