<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <div class="top-infos">
        <% if(user) { %>
            <div class="connected">
                <p>connecté</p>
            </div>
        <% } %>
        <div class="change-theme">
            <form action="/cookie-theme" method="post">
                <select name="theme" id="theme">
                    <option value="#ffffff">Thème Blanc</option>
                    <option value="#fecf34">Thème Jaune</option>
                    <option value="#fe3434">Thème Rouge</option>
                    <option value="#34c6fe">Thème Bleu</option>
                    <option value="#6dfe34">Thème Vert</option>
                    <option value="#fe34ed">Thème Rose</option>
                </select>
                <button class="btn" type="submit">OK</button>
            </form>
        </div>
    </div>
    <div class="hero">
        <img class="logo slide" src="images/logo-vinyle.png" alt="">
        <h1 class="site-title">UNIVERSAL VINYL</h1>
    </div>
    <div class="filters">
        <div class="filter rotate">
            <a class="btn" href="/annonces/rock">ROCK</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/pop">POP</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/pop">RAP</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/jazz">JAZZ</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/classique">CLASSIQUE</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/electro">ELECTRO</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/reggae">REGGAE</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/metal">METAL</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/blues">BLUES</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="/annonces/variété">VARIETE</a>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>