<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <% if(user) { %>
        <p class="connected"><%= user.username %> connecté</p>
    <% } %>
    <div class="hero">
        <img class="logo slide" src="images/logo-vinyle.png" alt="">
        <h1 class="title-home">UNIVERSAL VINYL</h1>
    </div>
    <div class="filters">
        <div class="filter rotate">
            <a href="">ROCK</a>
        </div>
        <div class="filter rotate">
            <a href="">POP</a>
        </div>
        <div class="filter rotate">
            <a href="">RAP</a>
        </div>
        <div class="filter rotate">
            <a href="">JAZZ</a>
        </div>
        <div class="filter rotate">
            <a href="">CLASSIQUE</a>
        </div>
        <div class="filter rotate">
            <a href="">ELECTRO</a>
        </div>
        <div class="filter rotate">
            <a href="">REGGAE</a>
        </div>
        <div class="filter rotate">
            <a href="">METAL</a>
        </div>
        <div class="filter rotate">
            <a href="">BLUES</a>
        </div>
        <div class="filter rotate">
            <a href="">VARIETE</a>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>