<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <div class="top-infos">
        <% if(user) { %>
            <div class="connected">
                <p><%= user.username %> connecté</p>
            </div>
        <% } %>
        <div class="change-theme">
            <form action="/cookie-theme" method="post">
                <select name="theme" id="theme">
                    <option value="#fecf34">Thème Jaune</option>
                    <option value="#fe3434">Thème Rouge</option>
                    <option value="#3448fe">Thème Bleu</option>
                    <option value="#6dfe34">Thème Vert</option>
                    <option value="#fe34ed">Thème Rose</option>
                </select>
                <button class="btn" type="submit">OK</button>
            </form>
        </div>
    </div>
    <div class="hero">
        <img class="logo slide" src="images/logo-vinyle.png" alt="">
        <h1 class="site-title">UNIVERSAL VINYL</h1>
    </div>
    <div class="filters">
        <div class="filter rotate">
            <a class="btn" href="">ROCK</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">POP</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">RAP</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">JAZZ</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">CLASSIQUE</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">ELECTRO</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">REGGAE</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">METAL</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">BLUES</a>
        </div>
        <div class="filter rotate">
            <a class="btn" href="">VARIETE</a>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>