<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
<div>
    <div>
        <div>
            <h1>Connexion</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</div>
</main>
<%- include('../partials/popup') %>
<%- include('../partials/footer') %>