.rights-exercise-process {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.rights-exercise-process > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rights-exercise-process-bold {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: normal;
}

.rights-exercise-process-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rights-exercise-process-wrapper ul {
  list-style-type: "⬤";
}

.rights-exercise-process-wrapper li {
  padding-left: 0.75rem;
  margin-left: 1rem;
}

.rights-exercise-process-italic {
  font-size: 0.875rem;
  font-style: italic;
}
