.user-rights {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-rights-subtitle {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.user-rights-subtitle svg {
  max-width: 8rem;
}

.user-rights-accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 64rem) {
  .user-rights-subtitle {
    gap: 1rem;
    text-align: start;
  }
}
