:root {
    --main-color: #fecf34;
    --global-border-width: 1px;
    --global-border-radius: 12px;
    --global-text-shadow: 0 3px 4px var(--main-color);
    --global-box-shadow: 2px 3px 4px 1px var(--main-color);
    --global-background-color: #000000;
    --global-text-color: #ffffff;
    --button-background-opacity: #fecf3457;
}

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    letter-spacing: 0.05rem;
}

body {
    background: var(--global-background-color); /* Fond noir pour simuler l'espace */
    overflow-x: hidden;
    font-family: "Albert Sans", sans-serif;

}

nav a, 
h1:not(.title-home) {
    font-family: "Audiowide", sans-serif;
    text-shadow: var(--global-text-shadow);
    letter-spacing: 0.3rem;
    color: var(--main-color);
}

main {
    padding-top: 5rem;
    min-height: 100vh;
    padding-inline: 2rem;
    padding-bottom: 2rem;
}




