/*************** CSS Variables ***************/
:root {
    --main-color: #ffffff;
    --global-border-width: 1px;
    --global-border-radius: 12px;
    --global-text-shadow: 0 3px 8px var(--main-color);
    --global-box-shadow: 2px 3px 4px 1px var(--main-color);
    --global-background-color: #000000;
    --global-text-color: #ffffff;
    --button-box-shadow-hover: 0px 0px 10px 5px var(--main-color);
}

/*************** All Elements ***************/

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) rgba(0, 0, 0, 0);
}

/*************** All Bodys ***************/

body {
    background: var(--global-background-color);
    overflow-x: hidden;
}

/*************** All Mains ***************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5rem;
    min-height: 100vh;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    max-width: 75rem;
    margin: 0 auto;
    gap: 2rem;
}

@media (min-width: 62.5rem) {
    main {
        padding-top: 1.125rem;
    }
}

/*************** Specific Elements ***************/

label, 
input, 
textarea, 
select, 
.btn, 
p,  
span:not(.swipe-btns span),
h2, 
h3,
h4,
h5,
h6, 
.site-title
:not(nav a, .page-title) { 
    color: var(--global-text-color);
}

/*************** Text Shadow Elements ***************/

nav a:not(.logo), 
.page-title,
.btn {
    text-shadow: var(--global-text-shadow);
    color: var(--main-color);
    letter-spacing: 0.2rem;
}

/*************** All H1 ***************/

h1 {
    text-align: center;
}

/*************** All H1.site-title (Universal Vinyl) ***************/

.site-title {
    letter-spacing: 0.1rem;
}

/*************** All H1.page-title ***************/

.page-title { 
    margin-top: 2rem; 
    font-size: 2rem;
}

/*************** All Labels ***************/

label { 
    font-size: 1rem; 
}

/*************** Input Areas ***************/

input, textarea, select { 
    outline: none; 
    resize: none;
    font-size: 1rem;
    border: var(--global-border-width) solid var(--main-color);
    background-color: var(--global-background-color);
    width: 100%; 
}

input, textarea { padding: 0.3125rem; }

select { padding: 0.3125rem 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    
input[type=number] {
  -moz-appearance: textfield;
}

/*************** Boutons ***************/

.btn { 
    position: relative;
    width: 100%; 
    border: var(--global-border-width) solid var(--main-color); 
    padding: 0.75rem; 
    cursor: pointer; 
    font-size: 1rem; 
    text-align: center;
    background-color: transparent;

    &:hover { box-shadow: var(--button-box-shadow-hover); }
}

.btn::before { 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    opacity: 30%; 
    background-color: var(--main-color); 
    z-index: -1; 
}

/*************** FONTS ***************/

label, 
input, 
textarea, 
select,  
p, 
a, 
span, 
small,
h1,
h2, 
h3,
h4,
h5,
h6, 
.page-title
:not(nav a) {
    font-family: "AlbertSans-Regular", sans-serif;
}

.site-title {
    font-family: "Monoton", sans-serif;
}

.btn {
    font-family: "AlbertSans-ExtraBold", sans-serif;
}