form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;      

    }

    .select-files {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .imgs-selected {
            display: flex;
            gap: 1%;
            justify-content: center;

            img {
                object-fit: contain;
            }

        }
    }
}




