form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2:not(.info-annonce h2) {
    border: 4px ridge var(--main-color);
    padding: 1rem;
    background-color: var(--global-background-color);
}

.infos-user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .annonces-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .annonces-list {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .annonce {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .info-annonce {
                    width: 100%;
                }

                .delete-btn {
                    border: none;
                    padding: 0.25rem;
                    background-color: rgba(255, 0, 0, 0.349)
                }
            }            
        }
    }
}

@media (min-width: 550px) {
    .info-annonce {
        width: 300px !important;
    }
}