.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .filter a {
        display: block;
    }
}

.filter-actif {
    width: min-content;
}

.annonce-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    .annonce-card {
        border: var(--global-border-width) solid var(--main-color);
        width: 300px;
        background-color: var(--global-background-color);
        border-radius: var(--global-border-radius);
        overflow: hidden;
        position: relative;
        box-shadow: var(--global-box-shadow);

        .content-imgs {
            height: 200px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: relative;
            transform: translateX(0%);

            .content-img {
                width: 100%;
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }           
        }   

        .annonce-text {
            display: grid;
            gap: 20px;
            padding: 20px;
            border-top: var(--global-border-width) solid var(--main-color);
            color: var(--global-text-color)
        }             
    }    
}