main {
    justify-content: center;
    position: relative;

    .top-infos {
        top: 3.5rem;
        display: flex;
        flex-direction: row;
        width: 80%;
        position: absolute;
        justify-content: center;

        .connected {
            color: var(--main-color);
            padding: 0 0.5rem;
            border: var(--global-border-width) solid var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
  
        form {
            display: flex;

            select {
                text-align: center;
            }

            .btn {
                padding: 0;
                width: 5rem;
            }
        }
    }

    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        justify-content: center;

        .logo {
            width: 10rem;

        }

        .site-title {
            font-size: 2rem;
            color: var(--global-text-color);
            font-weight: normal;
        }
    }

    .filters {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .filter {
            border: var(--global-border-width) solid var(--main-color);
            color: var(--global-text-color);
            width: fit-content;
            display: flex;
            box-shadow: var(--global-box-shadow);

            .btn {
                padding: 0.45rem;
            }
        }
    }    
}

/*************** Animations ***************/

.rotate {
    animation: 1s linear infinite alternate rotate;
}

.slide {
    animation: 1s cubic-bezier(1, 0.03, 0, 0.97) slide;
}

@keyframes rotate {
    from { transform: rotateZ(0deg) }
    to { transform: rotateZ(6deg) }
}

@keyframes slide {
    from { transform: scale(0) translateX(200px) }
    to { transform: scale(1) translateX(0) }
}

/*************** Media Queries ***************/

@media (min-width: 540px) {
    .logo:not(nav .logo) {
        width: 12rem !important;
    }
}

@media (min-width: 629px) {
    .site-title:not(nav .site-title) {
        font-size: 2.5rem !important; 
    }
}

@media (min-width: 870px) {
    .hero {
        flex-direction: row !important;
    }
}

@media (min-width: 1000px) {
    .top-infos {
        top: 0 !important;
    }

    .logo:not(nav .logo) {
        width: 15rem !important;
    }

    .site-title:not(nav .site-title) {
        font-size: 3.5rem !important; 
    }
}