.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    
    .img-avatar-content {
        width: 150px;
        height: 150px;
        border: var(--global-border-width) solid var(--main-color);
        padding: 0;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }

    .forms {
        display: flex;
        text-align: center;
        gap: 1rem;
        width: 100%;

        form {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            input[type="file"] {
                display: none;
            }
        }
    }
    
}

.infos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    border: var(--global-border-width) solid var(--main-color);
    padding: 1rem;
    background-color: var(--global-background-color);
    color: var(--global-text-color);
    box-shadow: var(--global-box-shadow);

    .info-wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: var(--global-border-width) solid var(--global-text-color);
        padding-bottom: 0.5rem;

        .info-content {
            display: flex;
            flex-direction: column;
        }
    }

}

