.annonce {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.content-imgs {
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out;
    /* height: 600px; */
}

.content-img {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-img img {
    /* width: 100%; */
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}

.edit-and-delete-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: var(--global-border-width) solid var(--global-text-color);
}

.paging {
    align-content: center;
    position: absolute;
    width: fit-content;
    right: 10px;
    top: 10px;
    background-color: var(--global-background-color);
    color: var(--global-text-color);
    border: var(--global-border-width) solid var(--main-color);
    padding: 2px 5px;
    z-index: 1;
}

.annonce-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--global-background-color);
    border: var(--global-border-width) solid var(--main-color);
    color: var(--global-text-color);
    overflow: hidden;

    .vinyl-infos {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .vinyl-info {
            display: flex;
            justify-content: space-between;
            border-bottom: var(--global-border-width) solid var(--global-text-color);
            gap: 1rem;

            .categorie-and-content {
                overflow-wrap: break-word;
            }
        }

    }
}


.swipe-btns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    width: 100%;
}

.previous-arrow {
    transform: scale(-0.5) translateX(50%) translateY(50%);
    width: fit-content;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.next-arrow {
    transform: scale(0.5) translateX(50%) translateY(-50%);
    width: fit-content;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.edit-and-delete-btns {
    display: flex;
    gap: 1rem;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    width: 2rem;
    height: 2rem;

    img {
        width: 100%;
    }

}

form {
    width: 100%;

    button {
        background-color: var(--button-background-opacity);
        color: var(--global-text-color);
        padding: 0.5rem;
        border: var(--global-border-width) solid var(--main-color);
        letter-spacing: normal;
        width: 100%;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            box-shadow: var(--button-box-shadow-hover);
        }

        &:active {
            box-shadow: var(--button-box-shadow-active);
        }
    }
}

@media screen and (max-width: 690px) {
    .previous-arrow, .next-arrow {
       
    }

    /* .next-arrow {
        right: 180px;
        top: 460px;
    } */
}

/* 
0px - 480px
481px - 768px
769px - 1279px
1280px+
*/